<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>时光机-首页</title>
	<link href="/timeMachine/public/static/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="/timeMachine/public/static/css/global.css" rel="stylesheet" type="text/css"/>
	{block name="style"}{/block}
</head>
<link rel="shortcut icon" href="/timeMachine/favicon.ico">
<body class="container-fluid">
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-12">
				<a href="">首页</a>
				<a href="">老腊肉</a>
				<a href="">小鲜肉</a>
				<a href="">联系我们</a>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="ruler">
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">尺子：1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
				<div style="text-align:center;border:1px solid #000;height:20px;" class="col-md-1">1</div>
			</div>
		</div>
	</div>
	{block name="body"}{/block}
	<script type="text/javascript" src="/timeMachine/public/static/Jquery3.0/jquery-3.0.0.js"></script>
</body>
</html>